.burger {
    position: relative;
    justify-content: right;
    vertical-align: center;
    margin-top: .4rem;
    &.deskview {
        position: absolute;
    }
}

.menu-btn {
    position: absolute;
    z-index: 1;
    right: .1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
    &__burger {
        position: absolute;
        right: 0;
        // top: 0.5rem;
        width: 28px;
        height: 3px;
        border: 2em transparent;
        background: set-burger-color($primaryColor);
        @include transition-ease;
        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            border: 2em transparent;
            background: set-burger-color($primaryColor);
            @include transition-ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 20px;
            height: 3px;
            border: 2em transparent;
            background: set-burger-color($primaryColor);
            @include transition-ease;
        }
        &.open {
            right: -0.2rem;
            margin-top: -0.1rem;
            transform: rotate(720deg);
            background: transparent;
            border: 2em transparent;
            &:hover {
                background: transparent;
                border: 2em transparent;
            }
            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
            &:hover::before {
                background: $orange;
            }
            &:hover::after {
                background: $orange;
            }
        }
    }
    &.open:hover>* {
        background: transparent;
    }
    &.open:hover>*::before {
        background: $orange;
    }
    &.open:hover>*::after {
        background: $orange;
    }
}

.orange {
    background: $green;
}

.nav {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    & .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: var(--background-color);
        list-style-type: none;
        // padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;
        &.open {
            transform: translateY(0);
        }
        &__item {
            padding-bottom: 1vh;
            transform: translateX(100vw);
            @include transition-ease;
            &.open {
                transform: translateX(0);
            }
            &.active>a {
                color: $secondaryColor;
            }
        }
        &__link {
            // text-align: center;
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            padding: .2rem 0;
            font-weight: 300;
            @include transition-ease;
            &:hover {
                color: $secondaryColor;
            }
        }
    }
}

.desk-nav {
    // position: relative;
    // top: 0;
    // left: 0;
    // width: 100%;
    opacity: 0.98;
    visibility: hidden;
    &.open {
        visibility: visible;
    }
    & .desk-menu-nav {
        width: 100%;
        display: grid;
        // grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: right;
        text-align: right;
        overflow: hidden;
        background: var(--background-color);
        list-style-type: none;
        // padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;
        &.open {
            transform: translateY(0);
        }
        &__item {
            position: relative;
            text-align: right;
            transform: translateX(100vw);
            @include transition-ease;
            &.open {
                transform: translateX(0);
            }
            &.active>a {
                color: $orange;
            }
        }
        &__link {
            font-size: 1.1rem;
            text-transform: uppercase;
            padding: .2rem 0;
            font-weight: 300;
            user-select: none;
            @include transition-ease;
            &:hover {
                color: $orange;
            }
        }
    }
}

@for $i from 1 through 5 {
    .desk-menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}

@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}