@include media-mobile {
    #Splash {
        height: 25vh;
    }
    #pixelEffect {
        width: 99%;
        height: 99%;
    }
}

@include media-md {
    #Splash {
        height: 35vh;
    }
    .burger {
        display: none;
    }
}

@include media-lg {
    #Splash {
        height: 40vh;
    }
}

@include media-xl {
    #Splash {
        height: 45vh;
    }
}